#navbar {
    background-color: #09223c; /* Black background color */
    position: fixed; /* Make it stick/fixed */
    top: -100px; /* Hide the navbar 50 px outside of the top view */
    width: 100%; /* Full width */
    transition: top 0.3s; /* Transition effect when sliding down (and up) */
    z-index: 1;
  }
  
  /* Style the navbar links */
  